body {
  font-family: "Roboto", sans-serif;
  background-color: ghostwhite;
}
#landingPage {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.logo-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.logo-link {
  display: inline-block;
  position: relative;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.p-subheading {
  font-size: 1.3em;
  color: rgb(33, 89, 125);
}

#p-description-div {
  color: ghostwhite;
  border-radius: 4px;
  box-shadow: -1px 1px 0px 3px rgb(63, 89, 125);
  background-color: rgb(93, 116, 138);
  width: 70%;
}
.p-description {
  font-size: 1.1em;
}

#startButtonLanding {
  font-size: 1em;
  background: orange;
  box-shadow: -1px 1px 0px 3px rgb(63, 89, 125);
  color: rgb(63, 89, 125);
  transition: transform 0.2s ease-in-out;
  border: none;
}
#startButtonLanding:hover {
  background-color: darkorange;
}
#startButtonLanding:active {
  box-shadow: -1px 0px 0px 1px rgb(63, 89, 125);
}

.logo-link:hover {
  transform: scale(1.1);
  cursor: pointer;
}
#loader {
  display: none;
}

.hidden {
  display: none;
}
h1 {
  color: rgb(63, 89, 125);
}

#quizSection {
  height: 90vh;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
}
#startButton {
  font-size: 1em;
  background: orange;
  box-shadow: -1px 1px 0px 3px rgb(63, 89, 125);
  color: rgb(63, 89, 125);
  transition: transform 0.2s ease-in-out;
  border: none;
}
#startButton:hover {
  background-color: darkorange;
}
#startButton:active {
  box-shadow: -1px 0px 0px 2px rgb(33, 89, 125);
}
#quitButton {
  box-shadow: -1px 1px 0px 3px rgb(63, 89, 125);
  background-color: rgb(63, 89, 125);
  color: ghostwhite;
  border: none;
  transition: transform 0.2s ease-in-out;
  display: none;
}
#quitButton:hover {
  background-color: rgb(93, 116, 138);
}
#quitButton:active {
  box-shadow: -1px 0px 0px 1px rgb(33, 89, 125);
}

#categoryContainer,
#difficultyContainer {
  min-width: 350px;
  position: relative;
}

.custom-choices {
  background-color: lightblue;
}

.custom-dropdown {
  background-color: lightblue;
  border-radius: 8px;
  box-shadow: -1px 1px 0px 3px rgb(63, 89, 125);
}

.choices .choices__list .option-el {
  background-color: lightblue;
}

.custom-choices.is-open .choices__list .option-el,
.custom-choices.is-open .choices__list .option-el:focus {
  background-color: lightblue;
}
.custom-choices.is-open .choices__list .option-el:hover {
  background-color: rgb(183, 229, 70);
}

#question-div {
}
#categoryDifficultyDiv {
}
.categoryDifficulty-p {
  background: lightblue;
  box-shadow: -1px 1px 0px 3px rgb(63, 89, 125);
  border-radius: 2px;
  color: rgb(63, 89, 125);
}
#category-p {
}
#difficulty-p {
}
#question-p {
}
#answerList {
  list-style: none;
  padding: 0;
}
.answer-li {
  background-color: rgb(183, 229, 70);
  box-shadow: -1px 1px 0px 3px rgb(63, 89, 125);
  border-radius: 2px;
  color: rgb(63, 89, 125);
  cursor: pointer;
}
.answer-li:hover {
  background-color: rgb(171, 214, 65);
}

#feedbackDiv{
  border-radius: 4px;
  background-color: lightblue;
padding: 1rem
}

#quizContainer{
  border-radius : 4px;
  padding: 1rem;
}