body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f8ff;
}
#landingPage {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.logo-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.logo-link {
  display: inline-block;
  position: relative;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.p-subheading {
  font-size: 1.3em;
  color: #21597d;
}
label{
color: #19405D;
}
#p-description-div {
  color: white;
  border-radius: 4px;
  box-shadow: -1px 1px 0px 3px rgb(63, 89, 125);
  background-color: rgb(93, 116, 138);
  width: 70%;
}
.p-description {
  font-size: 1.1em;
}

#startButtonLanding {
  font-size: 1em;
  background: orange;
  box-shadow: -1px 1px 0px 3px rgb(63, 89, 125);
  color: #384766;
  transition: transform 0.2s ease-in-out;
  border: none;
}
#startButtonLanding:hover {
  background-color: darkorange;
  color: #323d58;
}
#startButtonLanding:active {
  box-shadow: -1px 0px 0px 1px rgb(63, 89, 125);
}
#startButton {
  font-size: 1em;
  background: orange;
  box-shadow: -1px 1px 0px 3px rgb(63, 89, 125);
  color: #384766;
  transition: transform 0.2s ease-in-out;
  border: none;
}
#startButton:hover {
  background-color: darkorange;
  color: #323d58;
}
#startButton:active {
  box-shadow: -1px 0px 0px 2px rgb(33, 89, 125);
}
.logo-link:hover {
  transform: scale(1.1);
  cursor: pointer;
}
#loader {
  display: none;
  text-align: center;
}
#loader img {
  animation: rotate 2s linear infinite; /* Adjust the duration as needed */
}
#loader-p{
  color: #21597d;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.hidden {
  display: none;
}
h1 {
  color: #21597d;
}

#quizSection {
  height: 90vh;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#playAgainButton {
  font-size: 1em;
  background: orange;
  box-shadow: -1px 1px 0px 3px rgb(63, 89, 125);
  color: rgb(63, 89, 125);
  transition: transform 0.2s ease-in-out;
  border: none;
}
#playAgainButton:active {
  box-shadow: -1px 0px 0px 2px rgb(33, 89, 125);
}
#playAgainButton:hover {
  background-color: darkorange;
}
#quitButton {
  box-shadow: -1px 1px 0px 3px rgb(63, 89, 125);
  background-color: #3f597d;
  color: #FFFFFF;
  border: none;
  transition: transform 0.2s ease-in-out;
  display: none;
}
#quitButton:hover {
  background-color: rgb(93, 116, 138);
}
#quitButton:active {
  box-shadow: -1px 0px 0px 1px rgb(33, 89, 125);
}

#categoryContainer,
#difficultyContainer {
  min-width: 350px;
  position: relative;
}

.custom-choices {
  background-color: #add8e6;
  color: #19405D;
}

.custom-dropdown {
  background-color: #add8e6;
  border-radius: 8px;
  box-shadow: -1px 1px 0px 3px rgb(63, 89, 125);
}

.choices .choices__list .option-el {
  background-color: #add8e6;
}

.custom-choices.is-open .choices__list .option-el,
.custom-choices.is-open .choices__list .option-el:focus {
  background-color: #add8e6;
}
.custom-choices.is-open .choices__list .option-el:hover {
  background-color: #b7e546;
}

#question-div {
}
#categoryDifficultyDiv {
}
.categoryDifficulty-p {
  background: #add8e6;
  border-radius: 2px;
  color: #21597d;
  border: 1px solid #21597d
}
#category-p {
}
#difficulty-p {
}
#question-p {
  color: #21597d;
}
#answerList {
  list-style: none;
  padding: 0;
}
.answer-li {
  background-color: #b7e546;
  box-shadow: -1px 1px 0px 3px rgb(63, 89, 125);
  border-radius: 2px;
  color: #3f597d;
  cursor: pointer;
}
.answer-li:hover {
  background-color: #abd641;
  color: #1F567A;
}

#feedbackDiv {
  border-radius: 4px;
  background-color: #add8e6;
  padding: 1rem;
}

#quizContainer {
  border-radius: 4px;
  padding: 1rem;
}




/* Extra small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px */
