/* General Styles */
body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f8ff;
}
h1 {
  color: #21597d;
}
.hidden {
  display: none;
}
/* Landing Page Styles */
#landingPage {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.p-subheading {
  font-size: 1.3em;
  color: #21597d;
}
#p-description-div {
  color: white;
  border-radius: 4px;
  box-shadow: -1px 1px 0px 3px #3f597d;
  background-color: #5d748a;
  width: 70%;
}
.p-description {
  font-size: 1.1em;
}
#startButtonLanding {
  font-size: 1em;
  background: #ffa500;
  box-shadow: -1px 1px 0px 3px #3f597d;
  color: #122e45;
  transition: transform 0.2s ease-in-out;
  border: none;
}
#startButtonLanding:hover {
  background-color: #ff8c00;
  color: #0e2034;
}
#startButtonLanding:active {
  box-shadow: -1px 0px 0px 1px #3f597d;
}
/* Logo styles */
.logo-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.logo-link {
  display: inline-block;
  position: relative;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.logo-link:hover {
  transform: scale(1.1);
  cursor: pointer;
}
#worldLogo {
  height: 150px;
  width: 150px;
}
#worldQuizLogo {
  height: 150px;
  width: 150px;
}

/* Quiz Section Styles */
#quizSection {
  height: 90vh;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#quizContainer {
  border-radius: 4px;
  padding: 1rem;
}
#startButton {
  font-size: 1em;
  background: #ffa500;
  box-shadow: -1px 1px 0px 3px #3f597d;
  color: #122e45;
  transition: transform 0.2s ease-in-out;
  border: none;
}
#startButton:hover {
  background-color: #ff8c00;
  color: #0e2034;
}
#startButton:active {
  box-shadow: -1px 0px 0px 2px #21597d;
}
#playAgainButton {
  font-size: 1em;
  background: #ffa500;
  box-shadow: -1px 1px 0px 3px #3f597d;
  color: #122e45;
  transition: transform 0.2s ease-in-out;
  border: none;
}
#playAgainButton:hover {
  background-color: #ff8c00;
  color: #0e2034;
}
#playAgainButton:active {
  box-shadow: -1px 0px 0px 2px #21597d;
}
#quitButton {
  box-shadow: -1px 1px 0px 3px #5d748a;
  background-color: #3f597d;
  color: #ffffff;
  border: none;
  transition: transform 0.2s ease-in-out;
  display: none;
}
#quitButton:hover {
  background-color: #344c6e;
}
#quitButton:active {
  box-shadow: -1px 0px 0px 1px #21597d;
}
#error-message {
  background-color: #add8e6;
  color: black;
  padding: 1rem;
  position: absolute;
  top: 70%;
  left: 50%;
  border: none;
  border-radius: 2px;
  transform: translate(-50%, -50%);
}
#loader {
  display: none;
  text-align: center;
}
#loader img {
  animation: rotate 2s linear infinite; /* Adjust the duration as needed */
}
#loader-p {
  color: #19405d;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Question and Answer Styles */
#question-p {
  color: black;
}
#answerList {
  list-style: none;
  padding: 0;
}
.answer-li {
  background-color: #b7e546;
  box-shadow: -1px 1px 0px 3px rgb(63, 89, 125);
  border-radius: 2px;
  color: black;
  cursor: pointer;
  margin: 1rem 1rem;
  transition: margin 0.1s ease-in-out; /* Add a smooth transition effect for the margin change */
}
.answer-li:hover {
  background-color: #abd641;
  color: black;
  margin: 1rem 0.75rem;
}
#feedbackDiv {
  border-radius: 4px;
  background-color: #add8e6;
  color: black;
  padding: 1rem;
}

/* Dropdown Styles */
label {
  color: #19405d;
}
#categoryContainer,
#difficultyContainer {
  min-width: 350px;
  position: relative;
}
.custom-choices {
  background-color: #add8e6;
  color: black;
}
.custom-dropdown {
  background-color: #add8e6;
  border-radius: 8px;
  box-shadow: -1px 1px 0px 3px rgb(63, 89, 125);
  color: black;
}
.choices .choices__list .option-el {
  background-color: #add8e6;
  color: black;
}
.custom-choices.is-open .choices__list .option-el,
.custom-choices.is-open .choices__list .option-el:focus {
  background-color: #add8e6;
  color: black;
}
.custom-choices.is-open .choices__list .option-el:hover {
  background-color: #b7e546;
  color: black;
}
.categoryDifficulty-p {
  background: #add8e6;
  border-radius: 2px;
  color: black;
}

/* Media Queries */
@media (max-width: 576px) {
  #categoryContainer,
  #difficultyContainer {
    min-width: unset;
  }
  #worldLogo, #worldQuizLogo{
    height: 100px !important;
    width: 100px !important;
  }
}

@media screen and (max-width: 320px) and (max-height: 480px) {
  #landingPage {
    height: unset;
  }
  #categoryContainer,
  #difficultyContainer {
    min-width: unset;
  }
  #startButton {
    margin: 1rem;
  }
  #quizSection {
    height: unset;
  }

}
#p-description-div {
  background: rgba(60, 75, 95, 0.9);
  color: #fff; 
  padding: 20px;
  border-radius: 12px; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
  line-height: 1.6;
  max-width: 600px; 
  text-align: center;
}

.p-description {
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.p-description strong {
  color: #ffcc00;
}

.p-description em {
  font-style: italic;
  color: #ff9900;
}
